<%- include("head.ejs") %>
<body>
  
  <div class="container">
    <section class="boxUnderDevelopment">
      <h1>Em desenvolvimento...</h1>
      <div class="boxPageDevelopment mt-3">
          <div class="boxesHeader">
          <div class="boxHeader"></div>
          <div class="boxHeader"></div>
          <div class="boxHeader"></div>
        </div>
        <div class="lineBox">
          <div class="bodyBox">
            <div class="boxEmpty"></div>
            <div>
              <div class="lines"></div>
              <div class="lines"></div>
              <div class="lines"></div>
            </div>
          </div>
          <div>
            <div class="drawingLine"></div>
            <div class="drawingLine"></div>
            <div class="drawingLine"></div>
            <div class="drawingLine"></div>
            <div class="drawingLine"></div>
          </div> 
        </div>
      </div>
    </section>

  </div>

</body>
<%- include("footer.ejs") %>