<%- include("partials/head.ejs") %>
<body>
  
  <%- include("partials/navbar.ejs") %>
  <div class="container">

    <div class="card cardStyle">
      <div class="card-header cardHeaderStyle">
        <h3>Realizar Pergunta</h3>
      </div>
      <div class="card-body cardBodyStyle">
        <form method="POST" action="/saveask">
          <label class="mb-2">Título</label>
          <input class="form-control mb-4 styleInput" name="title" type="text" placeholder="Título">
          <label class="mb-2">Descrição</label>
          <textarea class="form-control mb-3 styleInput" name="description"  placeholder="Descreva a sua pergunta aqui"></textarea>
          <button class="btnAsk">Perguntar</button>
        </form>
      </div>
    </div>

  </div>

</body>
<%- include("partials/footer.ejs") %>