:root {
  --witsful: #e5e2e6;
  --nightshade:  #352664;
  --mardigras: #a149a1;
}

body {
  background-color: var(--mardigras);
}

.navbar {
  background-color: var(--witsful);

}

.cardStyle {
  border: none;
}

.cardHeaderStyle {
  background-color: var(--nightshade);
  color: var(--witsful);
}

.cardBodyStyle {
  background-color: var(--witsful);
}

.styleInput::placeholder{
  color: var(--mardigras);
}

label {
  color: var(--nightshade);
  font-size: 18px;
  font-weight: bold;
}

.btnAsk {
  background-color: var(--nightshade);
  color: var(--witsful);
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 6px;

  display: flex;
  align-items: center;
}

.btnAsk:hover {
  background-color: var(--witsful);
  color: var(--nightshade);
  border: 1px solid var(--nightshade);
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.namePage {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: var(--nightshade);
}

.iconPage {
  width: 30px;
}

/*Box area under development*/

.boxUnderDevelopment {
  background-color: var(--witsful);
  color: var(--nightshade);
  height: 40vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxPageDevelopment {
  border: 3px solid var(--nightshade);
  width: 154px;
  height: 162px;
  border-radius: 7px;
}

.boxHeader {
  background-color: var(--nightshade);
  height: 10px;
  width: 20px;
  margin: 5px;
}

.boxesHeader {
  display: flex;
}

.lineBox {
  height: 2px;
  width: 100%;
  background-color: var(--nightshade);
}

.bodyBox {
  height: 10vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.boxEmpty {
  width: 50px;
  height: 50px;
  background-color: var(--nightshade);
}

.lines {
  height: 4px;
  width: 56px;
  margin: 5px;
  background-color: var(--nightshade);
}

.drawingLine {
  height: 2px;
  width: 126px;
  margin: 8px;
  background-color: var(--nightshade);
}
